<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="dark">
    <h1>{{userQuery.user$ | async}}</h1>
    <h1>{{profileQuery.Profiles$ | async}}</h1>
    <!-- <h1>{{sessionQuery.loggedUserId$ | async}}</h1> -->
  </ion-text>

  <ion-button (click)="logout()" expand="full" color="danger">
    logout
  </ion-button>
</ion-content>
