<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isLoggedIn === false">
    <form [formGroup]="checkoutForm" (ngSubmit)="ingresar()">
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-item>
            <ion-label position="floating">Correo electrónico </ion-label>
            <ion-input type="email" formControlName="correo"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="contrasena"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-button
            type="submit"
            [disabled]="checkoutForm.invalid"
            expand="full"
            color="success"
          >
            <ion-icon slot="start" name="enter"></ion-icon>
            Ingresar
          </ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </form>

    <!--<ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10">
                <h5>Ingresa con:</h5>
            </ion-col>
            <ion-col size="1"></ion-col>

        </ion-row>

        <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10">
                <ion-button (click)="loginFB()" expand="full" color="primary">
                    <ion-icon slot="start" name="logo-facebook"></ion-icon>
                    Facebook
                </ion-button>
            </ion-col>
            <ion-col size="1"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10">
                <ion-button (click)="loginGoogle()" expand="full" round color="danger">
                    <ion-icon slot="start" name="logo-google"></ion-icon>
                    Google
                </ion-button>
            </ion-col>
            <ion-col size="1"></ion-col>
        </ion-row> -->
    <ion-row class="register">
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="linkRegister">
        <a href="register" color="dark">Registrate</a>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </div>

  <div class="ion-padding" *ngIf="isLoggedIn === true">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle
          >Hi, {{users.first_name}} {{users.last_name}}</ion-card-subtitle
        >
        <ion-card-title>{{users.email}}</ion-card-title>
      </ion-card-header>
      <img
        src="{{users.picture.data.url}}"
        width="100"
        alt="{{users.first_name}}{{users.last_name}}"
      />
      <ion-card-content>
        <p>
          <ion-button expand="full" color="secondary" (click)="logout()">
            Logout
            <ion-icon name="log-out"></ion-icon>
          </ion-button>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
