<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div *ngIf="isRegisterIn === false"> -->
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-item>
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input type="text" formControlName="apellidos"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" formControlName="correo" email></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="contrasena"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-item>
          <ion-label position="floating">Foto de perfil</ion-label>
          <ion-select
            #C
            (ionChange)="onSelect(C.value)"
            interface="action-sheet"
            placeholder="seleccionar"
          >
            <ion-select-option value="camara">Camara</ion-select-option>
            <ion-select-option value="galeria">Galeria</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button
          *ngIf="isCamaraIn === 'camara'"
          color="medium"
          (click)="tomarFoto()"
          expand="full"
        >
          Camara
        </ion-button>
        <ion-button
          *ngIf="isCamaraIn === 'galeria'"
          color="medium"
          (click)="subirFoto()"
          expand="full"
        >
          Galeria
        </ion-button>
        <img
          [src]="imagen"
          *ngIf="imagen"
          width="100"
          alt="{{users.nombre}}{{users.apellidos}}"
        />
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>-->
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-item>
          <ion-label position="floating">Celular</ion-label>
          <ion-input type="number" formControlName="celular"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row> 
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <ion-button
          color="primary"
          type="submit"
          [disabled]="checkoutForm.invalid"
          expand="full"
        >
          Registrar
        </ion-button>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </form>
  <!-- </div> -->
  <!-- <div class="ion-padding" *ngIf="isRegisterIn === true">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Hi, {{users.nombre}} {{users.apellidos}}</ion-card-subtitle>
                <ion-card-title>{{users.correo}}</ion-card-title>
            </ion-card-header>
            <img src="{{users.foto_user.data.url}}" width="100" alt="{{users.nombre}}{{users.apellidos}}" />
            <ion-card-content>
                <p>
                    <ion-button expand="full" color="secondary" (click)="logout()">
                        Logout
                        <ion-icon name="log-out"></ion-icon>
                    </ion-button>
                </p>
            </ion-card-content>
        </ion-card>
    </div> -->
</ion-content>
